<div style="float: right;">
	<%= link_to "Favourite Movies", saved_titles_path %>
</div>
<div style="text-align: center; padding-top: 200px;">
	<%= form_tag(home_new_path, :method => "get") do %>
	<%= text_field_tag :search, params[:search], placeholder: "Search a Movie", size: "100"%>
	<%= submit_tag "Search" %>
	<% end %>
</div>
